/* CSS declarations go here */
.map-canvas {
    width: 98vh;
    height:98vh;
    max-height: 94vh;
    left:15px;
}



.el_map {
    max-width: 98vh;
    height:5vh;
    max-height: 93vh;
/*    background-color: aqua;*/
}


/*
#address {
    width: 100%;
}
*/
/*
.flex-container-v {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
*/

#conteneur_auth
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.flex-fixed {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex-fill {
  -webkit-flex: 0 1 auto;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.list-container {
    overflow-y: scroll;
    height: 97vh;
    max-height: 93vh;
}



.progress {
    margin-bottom: 0;
}


#conteneur_status
{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;

    
}
.el_status:nth-child(1)
{
    order: 1;
    flex-basis: 28%;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

}
.el_map:nth-child(2)
{
    order: 2;
    flex:1;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#block_container, #block_zone, #block_course, #block_space
{
    display: flex;
    padding: 0;
    max-width: 99vh;
    margin: 4px;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
/*    background-color: brown;*/
}


#block_space:nth-child(2){
     flex-basis: 100px;
}
.onoffswitch {
    position: relative; width: 45px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 19px; padding: 0; line-height: 19px;
    border: 2px solid #E3E3E3; border-radius: 19px;
    background-color: #FFFFFF;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 19px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 24px;
    border: 2px solid #E3E3E3; border-radius: 19px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #49E845;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}



@media (max-width: 1024px) {
    
 
    .el_status:nth-child(1)
    {
            flex-basis: 50%;

    }

}

